.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.color-1 {
    background-color: #FEFBF6;
}
.color-2 {
    background-color: #8CB9BD;
}

.profile-image {
    border-radius: 50%;
}

.letters-1 {
    color: #B67352;
}